                                @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
                             :root {
                                --main-backgroundColor: #111725;
                                --main-headingColor: #77DFC0;
                                --button-backgroundColor: #5BDAAC;
                                font-family: 'Source Sans Pro', sans-serif;
                            }
                            
                            *,
                             ::before,
                             ::after {
                                box-sizing: border-box;
                            }
                            
                            body {
                                background-color: var(--main-backgroundColor);
                            }
                            
                            .nav-container {
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 3;
                                margin-left: 1rem;
                            }
                            
                            .hero-img-container {
                                grid-column-start: 2;
                                grid-column-end: 5;
                                grid-row-start: 1;
                                grid-row-end: 4;
                                background-image: url('images/images/image-host-desktop.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 100vh;
                                background-position: center center;
                            }
                            
                            .hero-info-container {
                                grid-row-start: 2;
                                grid-row-end: 5;
                                grid-column-start: 1;
                                grid-column-end: 3;
                                margin-top: -2rem;
                                max-width: 60%;
                                color: #ffffff;
                                background-color: var(--main-backgroundColor);
                                border: 5px solid var(--main-backgroundColor);
                            }
                            
                            h1 {
                                margin: 2rem 2rem 0 2rem;
                                color: var(--button-backgroundColor);
                                font-size: 250%;
                            }
                            
                            .heading-one {
                                color: #ffffff;
                            }
                            
                            .dotted-container {
                                grid-row-start: 3;
                                grid-row-end: 5;
                                grid-column-end: 5;
                                background-image: url('images/images/bg-pattern-dots.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center center;
                                padding: 6rem;
                                margin-bottom: -7rem;
                            }
                            
                            .sr-only {
                                position: absolute;
                                left: -10000px;
                                top: auto;
                                width: 1px;
                                height: 1px;
                                overflow: hidden;
                            }
                            
                            .info-desc {
                                max-width: 50%;
                                text-align: left;
                                line-height: 2;
                                margin: 0 0 1rem 1rem;
                                padding: 1rem;
                            }
                            
                            .header-container {
                                display: grid;
                                grid-template-columns: 1fr 4fr;
                                grid-row: repeat(4, 1fr);
                                padding: 0;
                            }
                            
                            .podcast-platforms {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                padding: 0.9rem;
                            }
                            
                            .email-form {
                                margin: 1rem;
                                width: 70%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                justify-content: space-around;
                            }
                            
                            input[type='email'] {
                                padding: 10px 30px;
                                width: 70%;
                            }
                            
                            button[type='submit'] {
                                background-color: var(--button-backgroundColor);
                                padding: 5px 20px;
                                cursor: pointer;
                                border: 2px solid var(--button-backgroundColor);
                                width: 50%;
                            }
                            
                            .hidden {
                                display: none;
                            }
                            
                            .show {
                                border: 2px solid red;
                                padding: 0.5rem;
                            }
                            /* for small screens */
                            
                            @media screen and (max-width: 600px) {}
                            /* larger screens and small tablets */
                            
                            @media screen and (max-width: 1000px) {
                                .nav-container {
                                    grid-column-start: 1;
                                    grid-column-end: 2;
                                    grid-row-start: 1;
                                    grid-row-end: 3;
                                    margin-left: 0.5rem;
                                }
                                .hero-img-container {
                                    grid-column-start: 2;
                                    grid-column-end: 5;
                                    grid-row-start: 1;
                                    grid-row-end: 4;
                                    background-image: url('images/images/image-host-tablet.jpg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 90vh;
                                    background-position: center center;
                                    margin: 0;
                                }
                                hero-info-container {
                                    grid-row-start: 2;
                                    grid-row-end: 4;
                                    grid-column-start: 1;
                                    grid-column-end: 4;
                                    margin-top: -2rem;
                                    width: 100%;
                                    color: #ffffff;
                                    background-color: var(--main-backgroundColor);
                                    border: 5px solid var(--main-backgroundColor);
                                }